# Tech Career Yaz Kampı: Veri Bilimine Giriş 

👩‍🎓 Merhaba,

Bu mini proje **Tech Career Yaz Kampı: Veri Bilimine Giriş** eğitimi bitirme projem 📊 

Burada veri bilimine küçük bir bakış attım: 🕵️  
- Veri setini inceledim 🔍
- Analizde istenilen görev adımlarını uyguladım 🧩

# Kütüphaneler

In [45]:
import pandas as pd
import numpy as np

# 🌍 Country Veri Seti

Çeşitli ülkelerle ilgili bir dizi **demografik**, **ekonomik** ve **coğrafi** veriyi içermektedir.  
    
Tabloda:  
- Her bir **satır** → bir ülkeyi temsil eder.  
- Her bir **sütun** → bu ülkelerle ilgili farklı özellikleri gösterir.  

## İçerik

- **Country**: Ülkenin adı  
- **Region**: Ülkenin bulunduğu bölge *(ör. Asya, Doğu Avrupa)*  
- **Population**: Ülkenin toplam nüfusu  
- **Area (sq. mi.)**: Ülkenin yüzölçümü *(mil kare olarak)*  
- **Pop. Density (per sq. mi.)**: Nüfus yoğunluğu *(mil kare başına kişi sayısı)*  
- **Coastline (coast/area ratio)**: Sahil uzunluğunun, ülkenin toplam alanına oranı  
- **Net migration**: Net göç oranı *(giren–çıkan nüfus farkı)*  
- **Infant mortality (per 1000 births)**: Bebek ölüm oranı *(1000 doğum başına)*  
- **GDP ($ per capita)**: Kişi başına düşen Gayri Safi Yurtiçi Hasıla (GSYİH)  
- **Literacy (%)**: Okur-yazarlık oranı  
- **Phones (per 1000)**: Her 1000 kişi başına düşen telefon sayısı  
- **Arable (%)**: Tarıma elverişli arazi yüzdesi  
- **Crops (%)**: Ekilebilir ürünlerin yüzdesi  
- **Other (%)**: Diğer arazi kullanımı yüzdesi  
- **Climate**: Ülkenin iklim kategorisi *(numerik bir değer)*  
- **Birthrate**: Doğum oranı  
- **Deathrate**: Ölüm oranı  
- **Agriculture**: Tarım sektörünün ekonomideki payı  
- **Industry**: Sanayi sektörünün ekonomideki payı  
- **Service**: Hizmet sektörünün ekonomideki payı

In [46]:
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) #uyarıları görme

data = pd.read_csv("/kaggle/input/country/country.csv") 
data

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

# Mini EDA 

1.  Veri Tiplerini Kontrol Et
2.  Gözlem (satır) ve Değişken (sütun) Sayısı
3.  Eksik Değer Kontrolü

In [47]:
# 1 
data.dtypes

Country                                object
Region                                 object
Population                              int64
Area (sq. mi.)                          int64
Pop. Density (per sq. mi.)             object
Coastline (coast/area ratio)           object
Net migration                          object
Infant mortality (per 1000 births)     object
GDP ($ per capita)                    float64
Literacy (%)                           object
Phones (per 1000)                      object
Arable (%)                             object
Crops (%)                              object
Other (%)                              object
Climate                                object
Birthrate                              object
Deathrate                              object
Agriculture                            object
Industry                               object
Service                                object
dtype: object

In [48]:
# 2 
data.shape

(227, 20)

In [49]:
# 3
data.isnull().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

 # Görevler

1. Nüfusa göre azalan sırada sıralama yapan kodu yazınız.

2. GDP per capita sütununa göre ülkeleri artan sırada sıralama (Kişi başına düşen Gayri Safi Yurtiçi Hasıla) yapan kodu yazınız.

3. Population sütunu 10 milyonun üzerinde olan ülkelerin kodunu yazınız.

4. Literacy (%) sütununa göre ülkeleri sıralayınız ve en yüksek okur-yazarlık oranına sahip ilk 5 ülkeyi seçen kodu yazınız.
    
5. Kişi başı GSYİH 10.000'in üzerinde olan ülkeleri filtreleme: GDP ( per capita) sütunu 10.000'in üzerinde olan ülkeleri seçen kodu yazınız.
    
6. Pop. Density (per sq. mi.) sütununa göre ülkeleri sıralayınız ve en yüksek nüfus yoğunluğuna sahip ilk 10 ülkeyi seçen kodu yazınız.

## 1. Görev: Nüfusa Göre Azalan Sırada Sıralama

In [50]:
#  En Çok Nüfuslu Ülkeler (İlk 10)
data_sorted_population = data.sort_values(by="Population", ascending=False) 
data_sorted_population.head(10)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
42,China,ASIA (EX. NEAR EAST),1313973713,9596960,"136,9","0,15","-0,4","24,18",5000.0,"90,9","266,7","15,4","1,25","83,35","1,5","13,25","6,97","0,125","0,473","0,403"
94,India,ASIA (EX. NEAR EAST),1095351995,3287590,"333,2","0,21","-0,07","56,29",2900.0,"59,5","45,4","54,4","2,74","42,86","2,5","22,01","8,18","0,186","0,276","0,538"
214,United States,NORTHERN AMERICA,298444215,9631420,"31,0","0,21","3,41","6,5",37800.0,"97,0","898,0","19,13","0,22","80,65",3,"14,14","8,26","0,01","0,204","0,787"
95,Indonesia,ASIA (EX. NEAR EAST),245452739,1919440,"127,9","2,85",0,"35,6",3200.0,"87,9","52,0","11,32","7,23","81,45",2,"20,34","6,25","0,134","0,458","0,408"
27,Brazil,LATIN AMER. & CARIB,188078227,8511965,"22,1","0,09","-0,03","29,61",7600.0,"86,4","225,3","6,96","0,9","92,15",2,"16,56","6,17","0,084","0,4","0,516"
156,Pakistan,ASIA (EX. NEAR EAST),165803560,803940,"206,2","0,13","-2,77","72,44",2100.0,"45,7","31,8","27,87","0,87","71,26",1,"29,74","8,23","0,216","0,251","0,533"
16,Bangladesh,ASIA (EX. NEAR EAST),147365352,144000,"1023,4","0,40","-0,71","62,6",1900.0,"43,1","7,3","62,11","3,07","34,82",2,"29,8","8,27","0,199","0,198","0,603"
169,Russia,C.W. OF IND. STATES,142893540,17075200,"8,4","0,22","1,02","15,39",8900.0,"99,6","280,6","7,33","0,11","92,56",NaN,"9,95","14,65","0,054","0,371","0,575"
152,Nigeria,SUB-SAHARAN AFRICA,131859731,923768,"142,7","0,09","0,26","98,8",900.0,"68,0","9,3","31,29","2,96","65,75","1,5","40,43","16,94","0,269","0,487","0,244"
103,Japan,ASIA (EX. NEAR EAST),127463611,377835,"337,4","7,87",0,"3,26",28200.0,"99,0","461,2","12,19","0,96","86,85",3,"9,37","9,16","0,017","0,258","0,725"

In [51]:
# Tüm Ülkeleri Nüfuslarına Göre Azalan Sırada Sıralama
data_sorted_population = data.sort_values(by="Population", ascending=False)
data_sorted_population[["Country", "Population"]].head(227)

                   Country  Population
42                  China   1313973713
94                  India   1095351995
214         United States    298444215
95              Indonesia    245452739
27                 Brazil    188078227
..                     ...         ...
144                 Nauru        13287
209                Tuvalu        11810
140            Montserrat         9439
171          Saint Helena         7502
174  St Pierre & Miquelon         7026

[227 rows x 2 columns]

## 2. Görev: GDP Per Capita Sütununa Göre Artan Sıralama

In [52]:
#  GDP Per Capita Sütununa Göre Artan Sırada İlk 10 Ülke
data_sorted_gdp = data.sort_values(by="GDP ($ per capita)", ascending=True) 
data_sorted_gdp.head(10)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
188,Somalia,SUB-SAHARAN AFRICA,8863338,637657,"13,9","0,47","5,37","116,7",500.0,"37,8","11,3","1,67","0,04","98,29",1,"45,13","16,63","0,65","0,1","0,25"
183,Sierra Leone,SUB-SAHARAN AFRICA,6005250,71740,"83,7","0,56",0,"143,64",500.0,"31,4","4,0","6,98","0,89","92,13",2,"45,76","23,03","0,49","0,31","0,21"
58,East Timor,ASIA (EX. NEAR EAST),1062777,15007,"70,8","4,70",0,"47,41",500.0,"58,6",NaN,"4,71","0,67","94,62",2,"26,99","6,24","0,085","0,231","0,684"
33,Burundi,SUB-SAHARAN AFRICA,8090068,27830,"290,7","0,00","-0,06","69,29",600.0,"51,6","3,4","35,05","14,02","50,93",2,"42,22","13,46","0,463","0,203","0,334"
74,Gaza Strip,NEAR EAST,1428757,360,"3968,8","11,11","1,6","22,93",600.0,NaN,"244,3","28,95","21,05",50,3,"39,45","3,8","0,03","0,283","0,687"
125,Malawi,SUB-SAHARAN AFRICA,13013926,118480,"109,8","0,00",0,"103,32",600.0,"62,7","7,9","23,38","1,49","75,13",2,"43,13","19,33","0,342","0,158","0,499"
200,Tanzania,SUB-SAHARAN AFRICA,37445392,945087,"39,6","0,15","-2,06","98,54",600.0,"78,2","4,0","4,52","1,08","94,4",NaN,"37,71","16,39","0,432","0,172","0,396"
65,Ethiopia,SUB-SAHARAN AFRICA,74777981,1127127,"66,3","0,00",0,"95,32",700.0,"42,7","8,2","10,71","0,75","88,54",2,"37,98","14,86","0,475","0,099","0,426"
46,"Congo, Repub. of the",SUB-SAHARAN AFRICA,3702314,342000,"10,8","0,05","-0,17","93,86",700.0,"83,8","3,7","0,51","0,13","99,36",2,"42,57","12,93","0,062","0,57","0,369"
44,Comoros,SUB-SAHARAN AFRICA,690948,2170,"318,4","15,67",0,"74,93",700.0,"56,5","24,5","35,87","23,32","40,81",2,"36,93","8,2","0,4","0,04","0,56"

In [53]:
# Tüm ülkeler İçin GDP Per Capita Sütununa Göre Artan Sırada Sıralama
data_sorted_gdp = data.sort_values(by="GDP ($ per capita)", ascending=True)
data_sorted_gdp[["Country", "GDP ($ per capita)"]].head(227)

             Country  GDP ($ per capita)
188         Somalia                500.0
183    Sierra Leone                500.0
58       East Timor                500.0
33          Burundi                600.0
74       Gaza Strip                600.0
..               ...                 ...
22          Bermuda              36000.0
154          Norway              37800.0
214   United States              37800.0
121      Luxembourg              55100.0
223  Western Sahara                  NaN

[227 rows x 2 columns]

## 3. Görev: Population Sütunu 10 Milyonun Üzerinde Olan Ülkeler

In [54]:
# Population Sütunu 10 Milyonun Üzerinde Olan İlk 5 Ülke
data_pop_over_10m = data[data["Population"] > 10_000_000] 
data_pop_over_10m.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,"9,7","0,13",0,"191,19",1900.0,"42,0","7,8","2,41","0,24","97,35",NaN,"45,11","24,2","0,096","0,658","0,246"
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,"14,4","0,18","0,61","15,18",11200.0,"97,1","220,4","12,31","0,48","87,21",3,"16,73","7,55","0,095","0,358","0,547"
11,Australia,OCEANIA,20264082,7686850,"2,6","0,34","3,98","4,69",29000.0,"100,0","565,5","6,55","0,04","93,41",1,"12,14","7,51","0,038","0,262","0,7"

In [55]:
# Population Sütunu 10 Milyonun Üzerinde Olan Ülkeler
data_pop_over_10m = data[data["Population"] > 10_000_000]
data_pop_over_10m[["Country", "Population"]].head(227)

          Country  Population
0    Afghanistan     31056997
2        Algeria     32930091
5         Angola     12127071
8      Argentina     39921833
11     Australia     20264082
..            ...         ...
218    Venezuela     25730435
219      Vietnam     84402966
224        Yemen     21456188
225       Zambia     11502010
226     Zimbabwe     12236805

[79 rows x 2 columns]

## 4. Görev: Literacy (%) Sütununa Göre En Yüksek Okur-Yazarlık Oranına Sahip İlk 5 Ülke

In [56]:
data_sorted_literacy = data.sort_values(by="Literacy (%)", ascending=False)
data_sorted_literacy[["Country", "Literacy (%)"]].head()

             Country Literacy (%)
53   Czech Republic          99,9
93          Iceland          99,9
163          Poland          99,8
114          Latvia          99,8
64          Estonia          99,8

## 5. Görev: GDP Per Capita 10.000'in Üzerinde Olan Ülkeler

In [57]:
data_gdp_over_10000 = data[data["GDP ($ per capita)"] > 10_000]
data_gdp_over_10000[["Country", "GDP ($ per capita)"]].head(227)

                   Country  GDP ($ per capita)
4                 Andorra              19000.0
7       Antigua & Barbuda              11000.0
8               Argentina              11200.0
10                  Aruba              28000.0
11              Australia              29000.0
..                     ...                 ...
212  United Arab Emirates              23200.0
213        United Kingdom              27700.0
214         United States              37800.0
215               Uruguay              12800.0
220        Virgin Islands              17200.0

[76 rows x 2 columns]

## 6. Görev: En Yüksek Nüfus Yoğunluğuna Sahip İlk 10 Ülke

In [58]:
data_sorted_density = data.sort_values(by="Pop. Density (per sq. mi.)", ascending=False) 
data_sorted_density[["Country", "Pop. Density (per sq. mi.)"]].head(10)

         Country Pop. Density (per sq. mi.)
9       Armenia                        99,9
186    Slovenia                        99,2
202        Togo                        97,7
12      Austria                        97,7
168     Romania                        93,9
77        Ghana                        93,6
140  Montserrat                        92,5
13   Azerbaijan                        91,9
56     Dominica                        91,4
206      Turkey                        90,2

In [59]:
print("Mutlu kodlamalar\n*gogo")

Mutlu kodlamalar
*gogo